{% for device in devices_info %}
    {% if device %}
               <!-- grid-item start in list  -->

      <!--    {% if device['attributes']['deviceType'].replace(',','.').lstrip('iPhone')|float > 10.5|float %}
              	<div class="designs mel-grid-item  mdl-cell mdl-card mdl-shadow--4dp portfolio-card demo-card-image"  style="background-image: url({{url_for('static',filename='img/iphone.jpg')}});">
        {% else %}
               	<div class="designs mel-grid-item  mdl-cell mdl-card mdl-shadow--4dp portfolio-card demo-card-image"  style="background-image: url({{url_for('static',filename='img/XR.png')}});">
       {% endif %} -->


           {% set dev_image =  "img/"+get_device_image(device["attributes"]["modelName"])  %}

      	<div class="mel-grid-item  mdl-cell mdl-card mdl-shadow--4dp portfolio-card demo-card-image"  style="background-image: url({{url_for('static',filename=dev_image)}});">
                <div class="card__secondary__title ">
                    <div class="lock_status">
                                {% if device["attributes"]["isLocked"] %}
                                    <i class="material-icons  nata-icon">phonelink_lock</i>
                                {% else %}
                                   <i class="material-icons  nata-icon-gr">phonelink_ring</i>
                                {% endif %}
                    </div>
                                <div class=" card__secondary__title__text font_class_nata">{{ device["attributes"]["modelName"] }}</div>
                                <h6 class="version card__secondary__title__subtext ">{{ device["attributes"]["firmwareVersion"] }}</h6>
                </div>
                 <button class="add_dev mdl-button mdl-js-button mdl-button--fab mdl-color--blue mdl-button--mini-fab">
                            <i class="material-icons">add</i>
                 </button>
                <div class="mdl-card__actions mdl-card--border">
                        <div class="card-content ">
                                      <span class=" card-title activator grey-text text-darken-4">Information<i class="material-icons right">more_vert</i></span>

                        </div>
                </div>
                 <div class="card-reveal">
                     <span class="card-title card__secondary__title__text  grey-text text-darken-4">
                         <button class="mdl-button mdl-js-button mdl-button--fab mdl-color--blue mdl-button--mini-fab">
                            <i class="material-icons">close</i>
                        </button>
                   <!--  <i class="material-icons right">close</i></span> -->
                    </span>

                     <ul class="demo-list-two mdl-list">
                         {% for key, value in device['attributes'].items() %}
                          {% set property_info =  get_property_info(key)  %}

                            {% if property_info  %}
                          <li class="mdl-list__item " data-bs-toggle="tooltip" data-bs-placement="top" title="{{ property_info['title'] }} ">
                            <span  class="mdl-list__item-primary-content">
                               <i  class="material-icons mdl-list__item-avatar mdl-color--blue			">{{ property_info['icon'] }}</i>
                              <span class="mdl-list__item-sub-title wrapme" id="tooltip_{{loop.index}}">{{ value }}</span>


                            </span>
                          </li>
                         {% endif %}
                         {% endfor %}
                     </ul>
             </div>
	    </div> <!-- .grid-item  inlist end -->
    {% endif %}
{% endfor %}